/*main style*/
/*html {
	margin: 0;
	padding: 0;
}*/

div.logo {
	width:100%;
}

div.logo img{
	max-width: 100%;
	width: 30%;
	display: block;
	margin:0 auto;
}

a.navbar-brand img {
	max-width: 100%;
	width: 150px;
	/*display: block;*/
}

a.btnusertype {
	margin-right:5px;
}

footer{
	bottom:0;
}

.footer-bottom {
	margin-top:50px;
	bottom:0;
    background-color: #0e0e0e;
    min-height: 30px;
    width: 100%;
    position: relative;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}

.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: left;
}
.design p {
    color: #fff;
}

#userRecord {
	border:none!important;
}